@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
  color: #333;
}

button:focus {
  outline: none;
}

/* Optional: Add a global reset for margin/padding to ensure consistent spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Media Queries for smaller screens */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
  }
}

